
@using System.Security
@using System.Data.SqlTypes
@using WikiGraph.Client.Pages
@inject ApiClient ApiClient

<nav class="nav">
    
    <NavLink href="@("/")">Home</NavLink>

    @foreach(SessionSummary session in SessionSummaries){
         <NavLink href="@($"/Sessions/{session.SessionId}")">@session.Title</NavLink>
    }
</nav>

@code{

    public List<SessionSummary> SessionSummaries = [];
    protected override async Task OnInitializedAsync(){
       await LoadSessions();
    } 
    protected async Task LoadSessions(){
        
        IReadOnlyList<SessionSummary>? sessions = await ApiClient.GetSessionsAsync();
        SessionSummaries.AddRange(sessions);
    } 

}