@inject IJSRuntime JSRuntime


<p>This is a Test</p>
<h1>@CurrentGraph</h1>


<canvas @ref = "canvasRefrence" canvas id ="myCanvas" width = 800, height="600"></canvas>




@code {
    [Parameter]
    public GraphDto? CurrentGraph { get; set; }

    private ElementReference canvasRefrence;

    protected override async Task OnAfterRenderAsync(bool FirstRender){
        if(FirstRender){

            await JSRuntime.InvokeVoidAsync("graphCanvas.renderGraph", canvasRefrence, CurrentGraph);
        }
    }
    private static string ResolveLabel(GraphDto graph, string nodeId) =>
        graph.Nodes.FirstOrDefault(node => node.Id == nodeId)?.Label ?? nodeId;
}
