@inject IJSRuntime JSRuntime


<p>This is a Test</p>
@if (CurrentGraph != null)
{
    <h1>@CurrentGraph.Topic</h1>
}
else
{
    <p>Loading...</p>
}

<canvas @ref = "canvasRefrence" canvas id ="myCanvas" width = "1000", height="600"></canvas>




@code {
    [Parameter]
    public GraphDto? CurrentGraph { get; set; }

    private ElementReference canvasRefrence;
private bool _rendered;
private string? _lastTopic;
    protected override async Task OnAfterRenderAsync(bool FirstRender){
        if(CurrentGraph.Topic!= _lastTopic && CurrentGraph != null){
            _lastTopic = CurrentGraph.Topic;
            await JSRuntime.InvokeVoidAsync("graphCanvas.renderGraph", canvasRefrence, CurrentGraph);
        }
    }
    private static string ResolveLabel(GraphDto graph, string nodeId) =>
        graph.Nodes.FirstOrDefault(node => node.Id == nodeId)?.Label ?? nodeId;
}
