<nav class="side-nav">
    <a class="side-nav-item active" href="">Dashboard</a>
    <a class="side-nav-item" href="#sessions">Sessions</a>
    <a class="side-nav-item" href="#thread">Thread</a>
    <a class="side-nav-item" href="#graphs">Graphs</a>
</nav>
